$font-family: 'SuperLegendBoy';
$font-size-header: 3.5rem;
$font-size-info: 1.6rem;
$font-color: #f500ff;

$background-color: #200589;
$background-card-color: #da00ff;

$card-widgt: 115px;
$card-height: 140px;